.section-container {
    padding: 4rem 0;

    @media (max-width: 768px) {
        padding: 2rem 0;
    }
}

.section-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    color: #841B2D;
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 1.6rem;
    }
}


.cta-box {
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding: 2rem 0;

}

.cta-heading {
    font-weight: 600;
    color: #841B2D;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-bottom: 0.35em;


}

.cts-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 40px;
}

.cta-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn-maroon {
    background-color: #841B2D !important;
    padding: 0.75rem 2rem;

    &:hover {
        background-color: #6a1624 !important;
    }
}



.btn-outline-maroon {
    color: #841B2D !important;
    border-color: #841B2D !important;
    padding: 0.75rem 2rem;

    &:hover {
        color: #6a1624 !important;
        border-color: #6a1624 !important;
    }
}